<link rel="stylesheet" type="text/css" href="pages/login/loginStyle.css" />

    
    
   

<div ng-controller="loginController as loginCtrl">
    <br/>

  <div class= "login">
        <form name="loginForm" ng-submit="submit()" novalidate>
       
            <br/>
            <h2>Login</h2>
            <br>
            <div class="form-group">
            <h1 class= "titles">User Name:</h1> 
            <input  type="text" id= "uname"  name="uname" ng-model="uname" required ng-minlength="3">
            <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">  -->
            <!-- <span ng-show="loginForm.uname.$error.required"></span> -->
            <!-- <span ng-show="loginForm.uname.$error.minlength">Minimum length is 3 </span>
            <span ng-show="loginForm.uname.$error.maxlength"><b>Maximum length is 8</b> </span> -->
            <!-- <span ng-show="loginForm.uname.$invalid"></span><br><br> -->
            </div>
            <div class="form-group">
            <h2 class= "titles">Password:</h2> 
            <input type="text" id= "password" name="password" ng-model="password" required ng-minlength="5"> 
            <!-- <span ng-show="loginForm.password.$error.required"></span>
            <span ng-show="loginForm.password.$error.minlength">Minimum length is 5 </span>
            <span ng-show="loginForm.password.$error.maxlength">Maximum length is 10 </span>
            <span ng-show="loginForm.password.$invalid"></span><br><br> -->
            </div>
            <br/>
            <input  class="btn btn-primary" ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
        </form>
        <div id= retrievePass >
                <br/>
                <h3 class= "titles">Forgot password? Press here:</h3>
                <button type= "button" id="retrievePassButton" ng-click="retrievePassFunc()">Retrieve password</button>


        </div>
      </div>
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class= "popularPOI" align="center">
    <h1 id= "titleHome" align="center">Welcome to Ashkelon</h1>

    <br/>
    <br/>
    
    <div id="images" align="center" >
        <h2 id="mostPopular">Most Popular Points of Interest</h2>
        <div class = "single-img" ng-repeat="x in records">
            <h3> {{x.IntrestName}}</h3>
            <img class = "curr-img" ng-src="{{ x.IntrestPicture}}">
        </div>
    </div>
    
</div> -->

<!-- <div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div> -->

    
        <p>{{ records }}</p>
        
    </div>

        <!-- modal for retrieve password -->
        <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
              <h4 class="modal-title white-text w-100 font-weight-bold py-2">Search Point of Interest</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>
      
            <!--Body-->
            <div class="modal-body">
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="form3">User name:</label>
                <input type="text" id="searchPOI" class="form-control validate">
               
              </div>
      
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="form2" class="form-control validate">
                <label data-error="wrong" data-success="right" for="form2">Your email</label>
              </div>
            </div>
      
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <!-- <a type="button" class="btn btn-outline-warning waves-effect">Send <i class="fas fa-paper-plane-o ml-1"></i></a> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="retrievePassFunc()">search</button>
              </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    


