
<div ng-controller="loginController as loginCtrl">
        <form name="loginForm" ng-submit="submit()" novalidate>
       
            <br/>
            <br/>
            <br/>
            <br/>
            <b>User Name:</b> 
            <input type="text" id= "uname" name="uname" ng-model="uname" required ng-minlength="3"> 
            <span ng-show="loginForm.uname.$error.required">This is required! </span>
            <span ng-show="loginForm.uname.$error.minlength">Minimum length is 3 </span>
            <span ng-show="loginForm.uname.$error.maxlength">Maximum length is 8 </span>
            <span ng-show="loginForm.uname.$invalid">Invalid field</span><br><br>

            <b>Password:</b> 
            <input type="text" id= "password" name="password" ng-model="password" required ng-minlength="5"> 
            <span ng-show="loginForm.password.$error.required">This is required! </span>
            <span ng-show="loginForm.password.$error.minlength">Minimum length is 5 </span>
            <span ng-show="loginForm.password.$error.maxlength">Maximum length is 10 </span>
            <span ng-show="loginForm.password.$invalid">Invalid field</span><br><br>

            <br/>
            <br/>
            <input ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
        </form>
        <div id= retrievePass >
                <br/>
                <br/>
                <b>Forgot password? Press here:</b>
                <button type= "button" id="retrievePassButton" ng-click="retrievePassFunc()" >Retrieve password</button>


        </div>

     
        <p>{{ records }}</p>
        


    </div>
