<div ng-controller="registerController as regCtrl">
    <form name="registerForm" ng-submit="submit()" novalidate>
   
        <br/>
        <br/>
        <br/>
        <br/>
        <b>User Name:</b> 
        <input type="text" id= "uname" name="uname" ng-model="uname" required ng-minlength="3" ng-maxlenth="8"> 
        <span ng-show="registerForm.uname.$error.required" class="ng-hide">This is required! </span>
        <span ng-show="registerForm.uname.$error.minlength">Minimum length is 3 </span>
        <span ng-show="registerForm.uname.$error.maxlength">Maximum length is 8 </span>
        <span ng-show="registerForm.uname.$invalid"class="ng-hide">Invalid field</span><br><br>
        <b>Password:</b> 
        <input type="text" id= "password" name="password" ng-model="password" required ng-minlength="5" ng-maxlenth="10"> 
        <span ng-show="registerForm.password.$error.required"class="ng-hide">This is required! </span>
        <span ng-show="registerForm.password.$error.minlength">Minimum length is 5 </span>
        <span ng-show="registerForm.password.$error.maxlength">Maximum length is 10 </span>
        <span ng-show="registerForm.password.$invalid">Invalid field</span><br><br>
        <b>First name:</b> 
        <input type="text" id= "fname" name="fname" ng-model="fname" >
        <br/>
        <br/>
        <b>Last name:</b> 
        <input type="text" id= "lname" name="lname" ng-model="lname" >
        <br/>
        <br/>
        <b>City:</b> 
        <input type="text" id= "city" name="city" ng-model="city" >
        <br/>
        <br/>
        <b>Country:</b> 
        <input type="text" id= "country" name="country" ng-model="country" >
        <br/>
        <br/>
        <b>Email:</b> 
        <input type="text" id= "email" name="email" ng-model="email" ng-pattern="regexEmail" >
        <br/>
        <br/>                  
        <span style="color:red" ng-show="registerForm.email.$invalid" class="ng-hide">   
        Please Enter Valid  Name.!  
        </span>  
        <br/>
        <b>First interest:</b> 
        <select id='selectId'>
            <option ng-repeat = "y in options" >{{y.category}}</option>
            <!-- <option value='2' selected='selected'>Option 2</option> -->

            </select>
       
        <br/>
        <br/>
        <b>Second interest:</b> 
        <input type="text" id= "sinterest" name="sinterest" ng-model="sinterest" >

        <br/>
        <br/>
        <input ng-disabled="registerForm.$invalid" type="submit" id="submit" value="Submit">
    </form>

    <p>{{ answer }} </p>
    
    <p>{{ records }}</p>


</div>
