.single-img{
    /* display: inline-block; */
    padding: 20px;
    /* border : 1px solid green; */
    
   
}
.curr-img{
    height: 150px;
    width: 150px;
    
}
.review{
    padding: 0;
    /* text-align: justify; */
    width : 150px;
}
#list-group-item {
    padding: 10px 15px;
    height: 40px; 
    width: 150px;
}

#imagesForSearch{
    display: none;
}

#buttonsTable{
    position:fixed;
    top:92px;
    width: 20px;
    
}

#tableFavorites{

    width :40%;
    right: 0px;
    }

#titlePOI{
    font-size: 100px;
}

.cat{

    font-size: 45px;
    font-weight: 600;
}

td
{
    padding:5px 5px 5px 5px;
}

.poiName{

    font-size: 30px;
    font-weight: 600;

}



.imgAndFdbck{

    display: inline-block;
}

