#images{
    /* border : 1px solid red; */
    /* position: absolute;
    bottom : 0px; */
    left:35%;
    
}
.single-img{
    /* display: inline-block; */
    padding: 20px;
    /* border : 1px solid green; */
    
   
}
.curr-img{
    height: 100px;
    width: 100px;
    
}