


.single-img{
    /* display: inline-block; */
    padding: 20px;
    /* border : 1px solid green; */
    
   
}
.curr-img{
    height: 150px;
    width: 150px;
    
}
#list-group-item {
    padding: 10px 15px;
    height: 40px; 
    width: 200px;
}




#imagesForSearch{

    display: none;
}
#buttonsTable{
    position:fixed;
    top:110px;
    
}

#titlePOI{
    font-size: 100px;
}
