<link rel="stylesheet" type="text/css" href="pages/loggedIn/loggedInStyle.css" />
<table id= "tableLoggedIn" >
    <tr id ="singleRow">
        <td id = "leftCol" > 
            <div class = "leftColDiv" align ="center">
            <h4>Recommended Points of Interest For You:</h4>
            <div id="images1"  >
                    <div class = "single-img1" ng-repeat="x in records">
                        <h3 class="poiName" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)">{{x.IntrestName}}</h3>
                        <img class = "curr-img1 img-thumbnail" ng-src="{{ x.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)"> <br/>
                        <button class = "btn btn-primary review"  data-toggle="modal" data-target="#orangeModalSubscriptionForFeedback" ng-click= "forFeed(x)">Give Feedback</button>
                        
                    </div>
                </div>

            </div>
        </td>
        <td id = "rightCol">
            <!-- <b>Last Favorites:</b> -->
            <div id="images2" >
                <h4>Two Last Favorites Points of Interest:</h4>
                    <div id="images21" align= "center">
                            <div class = "single-img" >
                                     <h3 class="poiName" data-toggle="modal" data-target="#exampleModal" ng-click ="changeDataForSinglePOI(singlePOI1)">{{singlePOI1}}</h3>
                                    <img class = "curr-img1 img-thumbnail" ng-src="{{IntrestPicture1}}"  data-toggle="modal" data-target="#exampleModal" ng-click= changeDataForSinglePOI(singlePOI1)><br/>
                                    <button class = "btn btn-primary review"  data-toggle="modal" data-target="#orangeModalSubscriptionForFeedback" ng-click= "forFeed(singlePOI1)">Give Feedback</button>
                                  </div>
                            <div class = "single-img" >
                                    <h3 class="poiName" data-toggle="modal" data-target="#exampleModal" ng-click ="changeDataForSinglePOI(singlePOI2)">{{singlePOI2}}</h3>
                                  <img class = "curr-img1 img-thumbnail" ng-src="{{IntrestPicture2}}"  data-toggle="modal" data-target="#exampleModal" ng-click= changeDataForSinglePOI(singlePOI2)><br/>
                                  <button class = "btn btn-primary review"  data-toggle="modal" data-target="#orangeModalSubscriptionForFeedback" ng-click= "forFeed(singlePOI2)">Give Feedback</button>
                                  
                          </div>         
                      </div>
                    <!-- <h4>Two Last Favorites Points of Interest:</h4>
                    <div class = "single-img2" ng-repeat="m in records2">
                            <h3>{{m.IntrestName}}</h3>
                            <img class = "curr-img2" ng-src="{{ m.IntrestPicture}}"> -->
                        <!-- <h5><b href="#" ng-click="myFunc(m)">{{m.pointOfIntrest}}</b></h5> -->
                        <!-- <img class = "curr-img2" ng-src="{{ m.IntrestPicture}}"> -->
          </div>
        </td>
    </tr>
</table>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <!-- <div class = "single-img" ng-repeat="x in records"> -->
                          <b>Name</b> : {{Xname}}
                          <br>
                          <b>Description</b> : {{Xdesc}}
                          <br>
                          <b>Ammount of views</b> : {{XcountView}}
                          <br>
                          <b>Calculated rank</b> : {{Xrank}} 
                          <br>
                          <b>Two last reviews</b> : {{Xreview}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" >close</button>
                          <!-- <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> -->
                        </div>
                      </div>
                    </div>
                  </div>

           <!-- modal for feedback -->
           <div class="modal fade" id="orangeModalSubscriptionForFeedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
           <div class="modal-dialog modal-notify modal-warning" role="document">
             <!--Content-->
             <div class="modal-content">
               <!--Header-->
               <div class="modal-header text-center">
                 <h4 class="modal-title white-text w-100 font-weight-bold py-2">Feedback</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true" class="white-text">&times;</span>
                 </button>
               </div>
         
               <!--Body-->
               <div class="modal-body">
                 <h3>{{interestNameForFeed}}</h3>
                 <br/>
   
                 <div class="md-form mb-5">
                   <label data-error="wrong" data-success="right" for="form3">Rank between 1-5:</label>
                   <select id='rank'>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                   </select>
                   <!-- <input type="text" id="form3" class="form-control validate"> -->
                  
                 </div>
         
                 <div class="md-form">
                   <label data-error="wrong" data-success="right" for="form2">Your feedback:</label>
                   <input type="text" id="reviewFromUser" class="form-control validate">
                 
                 </div>
               </div>
         
               <!--Footer-->
               <div class="modal-footer justify-content-center">
                   <button  class=" btn btn-primary" data-dismiss="modal" aria-label="Close" ng-click= "createFeedback(interestNameForFeed)">Send</button>
               </div>
             </div>
             <!--/.Content-->
           </div>
         </div>

      