<link rel="stylesheet" type="text/css" href="pages/loggedIn/loggedInStyle.css" />
<table id= "tableLoggedIn" >
    <tr id ="singleRow">
        <td id = "leftCol" > 
            <div class = "leftColDiv" align ="center">
            <h4>Recommended Points of Interest For You:</h4>
            <div id="images1"  >
                    <div class = "single-img1" ng-repeat="x in records">
                        <h3>{{x.IntrestName}}</h3>
                        <img class = "curr-img1" ng-src="{{ x.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)">
                    </div>
                </div>

            </div>
        </td>
        <td id = "rightCol">
            <!-- <b>Last Favorites:</b> -->
            <div id="images2" >
                <h4>Two Last Favorites Points of Interest:</h4>
                    <div id="images21" align= "center">
                            <div class = "single-img" >
                                     <h3>{{singlePOI1}}</h3>
                                    <img class = "curr-img1" ng-src="{{IntrestPicture1}}"  data-toggle="modal" data-target="#exampleModal" ng-click= changeDataForSinglePOI(singlePOI1)>
                                  </div>
                            <div class = "single-img" >
                                    <h3>{{singlePOI2}}</h3>
                                  <img class = "curr-img1" ng-src="{{IntrestPicture2}}"  data-toggle="modal" data-target="#exampleModal" ng-click= changeDataForSinglePOI(singlePOI2)>
                          </div>         
                      </div>
                    <!-- <h4>Two Last Favorites Points of Interest:</h4>
                    <div class = "single-img2" ng-repeat="m in records2">
                            <h3>{{m.IntrestName}}</h3>
                            <img class = "curr-img2" ng-src="{{ m.IntrestPicture}}"> -->
                        <!-- <h5><b href="#" ng-click="myFunc(m)">{{m.pointOfIntrest}}</b></h5> -->
                        <!-- <img class = "curr-img2" ng-src="{{ m.IntrestPicture}}"> -->
          </div>
        </td>
    </tr>
</table>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <!-- <div class = "single-img" ng-repeat="x in records"> -->
                          <b>Name</b> : {{Xname}}
                          <br>
                          <b>Description</b> : {{Xdesc}}
                          <br>
                          <b>Ammount of views</b> : {{XcountView}}
                          <br>
                          <b>Calculated rank</b> : {{Xrank}} 
                          <br>
                          <b>Two last reviews</b> : {{Xreview}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" >close</button>
                          <!-- <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> -->
                        </div>
                      </div>
                    </div>
                  </div>