#images{
    /* border : 1px solid red; */
    /* position: absolute;
    bottom : 0px; */
    left:35%;
    
}
.single-img{
    display: inline-block;
    padding: 20px;
    /* border : 1px solid green; */
    
   
}
.curr-img{
    height: 100px;
    width: 100px;
    
}

#list-group-item {
    padding: 10px 15px;
    height: 40px; 
    width: 200px;
}

.review{
    padding: 0;
    text-align: justify;
    width : 100px;
}

#titleFavorites{
    font-size: 100px;
}
