<!-- css -->

<link rel="stylesheet" type="text/css" href="pages/favorites/favoritesStyle.css" />


<h2 id= "titleFavorites" align= "center" >Favorites</h2>

<table style="width:100%">
    <tr>
      <td  style="width:35%">
          <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <p id= "list-group-item" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" >Favorites</p>
                  <button id= "list-group-item" class="btn btn-default btn-rounded" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" ng-click="sortByCat()">Sort by Category</button>
                  <button id= "list-group-item" class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages" ng-click= "sortByRank()">Sort by Rank</button>
                  <button id= "list-group-item" class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"data-toggle="modal" data-target="#exampleModal" >Inser Your Order</button>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
              </div>
            </div>
      </td>

      <td  style="width:65% "  >
          <div id="images" >
            
             
              <div class = "single-img" ng-repeat="x in records">
                  <h3 >{{x.IntrestName}}</h3>
                  <img class = "curr-img" ng-src="{{ x.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)" ><br>
                  <button class = "btn btn-primary review"  data-toggle="modal" data-target="#orangeModalSubscription" ng-click= "forFeed(x)">Give Feedback</button>
              </div>
          </div>

          <div id="images1" >
              <div class = "single-img" ng-repeat="y in rankRecords">
                      <h3>{{y.IntrestName}}</h3>
                      <img class = "curr-img" ng-src="{{ y.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(y)" ><br>
                      <button class = "btn btn-primary review"  data-toggle="modal" data-target="#orangeModalSubscription" ng-click= "forFeed(y)">Give Feedback</button>
              </div>
      </div>

      </td>

    </tr>
  </table>





    {{message}}
<!-- <div id= "sortByCategory">

        <button type= "button" id="sort" ng-click= "sortByCat()" >Sort by Category</button>
        <button type= "button" id="sortRank" ng-click= "sortByRank()" >Sort by Rank</button>
</div>     -->


     


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class = "single-img" ng-repeat="x in records"> -->
              <b>Name</b> : {{Xname}}
              <br>
              <b>Description</b> : {{Xdesc}}
              <br>
              <b>Ammount of views</b> : {{XcountView}}
              <br>
              <b>Calculated rank</b> : {{Xrank}} 
              <br>
              <b>Two last reviews</b> : {{Xreview}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button>
              <!-- <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> -->
            </div>
          </div>
        </div>
      </div>

      <!-- table for the categories -->
      <!-- <table id= "tableFavorites" align= "center" >
            <tr id ="singleRow">
                <h2>Favorites</h2>
                <td id = "sport" align="center"> 
                    <b>Sport:</b>
                    <div id="images1" >
                            <div class = "single-img" ng-repeat="sport in sportRecords">
                                <h3>{{sport.IntrestName}}</h3>
                                <img class = "curr-img" ng-src="{{ sport.IntrestPicture}}">
                            </div>
                    </div>
    
                </td>
                <td id = "food" align="center"> 
                        <b>Food:</b>
                        <div id="images1" >
                                <div class = "single-img" ng-repeat="food in foodRecords">
                                    <h3>{{food.IntrestName}}</h3>
                                    <img class = "curr-img" ng-src="{{ food.IntrestPicture}}">
                                </div>
                        </div>
        
                </td>
                <td id = "shopping" align="center"> 
                        <b>Shpping:</b>
                        <div id="images1" >
                                <div class = "single-img" ng-repeat="shopping in shoppingRecords">
                                    <h3>{{shopping.IntrestName}}</h3>
                                    <img class = "curr-img" ng-src="{{ shopping.IntrestPicture}}">
                                </div>
                        </div>
        
                </td>
                <td id = "restaurant" align="center"> 
                        <b>Restaurant:</b>
                        <div id="images1" >
                                <div class = "single-img" ng-repeat="restaurant in restaurantRecords">
                                    <h3>{{restaurant.IntrestName}}</h3>
                                    <img class = "curr-img" ng-src="{{ restaurant.IntrestPicture}}">
                                </div>
                        </div>
        
                </td>
               
            </tr>
        </table> -->
        
        <!-- modal for reviews -->
        <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
              <h4 class="modal-title white-text w-100 font-weight-bold py-2">Feedback</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>
      
            <!--Body-->
            <div class="modal-body">
              <h3>{{interestNameForFeed}}</h3>
              <br/>

              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="form3">Rank between 1-5:</label>
                <select id='rank'>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                </select>
                <!-- <input type="text" id="form3" class="form-control validate"> -->
               
              </div>
      
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="form2">Your feedback:</label>
                <input type="text" id="reviewFromUser" class="form-control validate">
              
              </div>
            </div>
      
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-outline-warning waves-effect" ng-click= "createFeedback(interestNameForFeed)">Send <i class="fas fa-paper-plane-o ml-1"></i></a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>