<!-- css -->

<link rel="stylesheet" type="text/css" href="pages/favorites/favoritesStyle.css" />

<br>
<br>
<div id="images" >
        <h2>Favorites</h2>
        {{message}}
        <div class = "single-img" ng-repeat="x in records">
            <h3 >{{x.IntrestName}}</h3>
            <!-- <div data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</div> -->
            <!-- <img class = "curr-img" ng-src="{{x.IntrestPicture}}"  ng-click="imageInfo(x)"> -->
            <img class = "curr-img" ng-src="{{ x.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)" >
        </div>
    </div>
   
<div id= "sortByCategory">

        <button type= "button" id="sort" ng-click= "sortByCat()" >Sort by Category</button>
        <button type= "button" id="sortRank" ng-click= "sortByRank()" >Sort by Rank</button>
</div>    




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class = "single-img" ng-repeat="x in records"> -->
              Name : {{Xname}}
              <br>
              Description : {{Xdesc}}
              <br>
              Ammount of views : {{XcountView}}
              <br>
              Calculated rank : {{Xrank}} 
              <br>
              Two last reviews : {{Xreview}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button>
            </div>
          </div>
        </div>
      </div>


