<!-- css -->
<link rel="stylesheet" type="text/css" href="pages/home/homeStyle.css" />
    
    
    <div class= "popularPOI" align="center" >
        <h1 id= "titleHome" align="center">Welcome to Ashkelon</h1>

        <br/>
        <br/>
        
        <div id="images" align="center" >
            <h2 id="mostPopular">Most Popular Points of Interest</h2>
            <div class = "single-img" ng-repeat="x in records">
                <h3> {{x.IntrestName}}</h3>
                <img class = "curr-img" ng-src="{{ x.IntrestPicture}}" data-toggle="modal" data-target="#exampleModal" ng-click ="changeData(x)" >
            </div>
        </div>
        
    </div>

  
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class = "single-img" ng-repeat="x in records"> -->
              <b>Name</b> : {{Xname}}
              <br>
              <b>Description</b> : {{Xdesc}}
              <br>
              <b>Ammount of views</b> : {{XcountView}}
              <br>
              <b>Calculated rank</b> : {{Xrank}} 
              <br>
              <b>Two last reviews</b> : {{Xreview}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >close</button>
              <!-- <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> -->
            </div>
          </div>
        </div>
      </div>
        

   