<!-- css -->
<link rel="stylesheet" type="text/css" href="pages/home/homeStyle.css" />
    
    
    <div class= "popularPOI" align="center">

        <br/>
        <br/>
        
        <div id="images" >
            <h2>POI</h2>
            <div class = "single-img" ng-repeat="x in records">
                <h3><a href="#" ng-click="myFunc(x)">{{x.IntrestName}}</a></h3>
                <img class = "curr-img" ng-src="{{ x.IntrestPicture}}">
            </div>
        </div>
        
    </div>
        

   