

.popularPOI{
    top:50px;
    position: relative;
    height: 500px;
}
#images{
    /* border : 1px solid red; */
    position: absolute;
    bottom : 0px;
    left:25%;
    
}
.single-img{
    display: inline-block;
    padding: 20px;
    /* border : 1px solid green; */
    
   
}
.curr-img{
    height: 150px;
    width: 150px;
    
}

#myModal{
    /* display: none; */
}

#titleHome{

    font-size: 8em;
    
}

#mostPopular{
    font-size: 40px;
    font-weight: 600;

}

.review{
    padding: 0;
    /* text-align: justify; */
    width : 150px;
}

.poiName{

    font-size: 30px;
    font-weight: 600;

}



